@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

:root {
  --gradient: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.25em;
}

:root {
  --weather-background-image: '../imgs/sunny.webp';
}

.weather-input {
  margin: 20px 30vw;
  display: flex;
  justify-content: center;
  align-self: center;
}

.weather-input > input {
  width: 300px;
  appearance: none;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.weather-input > button {
  all: unset;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 25px;
}

.weather-input > button::after,
.weather-input > button::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.weather-input > button::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #7d77d1;
  border-radius: 10px;
}

.weather-input > button::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.weather-input > button:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.weather-input > button:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.weather-input > button:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

/********/

body {
  width: 100%;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  /* background-color: #86a997; */
  background-image: var(--gradient);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.intro {
  font-size: 2.75rem;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 800;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 10px;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  border-radius: 25px;
  -webkit-box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
  background-color: #222831;
  color: #ffffff;
  height: 75vh;
  display: flex;
  flex-direction: column;
  width: 75vw;
}

.weather-side {
  position: relative;
  height: 100%;
  border-radius: 25px;
  background-size: cover;
  width: 100%;
}

.sunny-weather {
  background-image: url('https://www.wagrain24.at/images/galerie/2018/10-04_jaegersee_kleinarl/big/Jaegersee_Kleinarl_20181004_04.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.rainy-weather {
  background-image: url('../imgs/rainy.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.cloudy-weather {
  background-image: url('../imgs/cloudy.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.snowy-weather {
  background-image: url('https://images8.alphacoders.com/861/861868.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.misty-weather {
  background-image: url('https://pheisig.de/assets/img/2019_kw09_lilienstein/nebellandschaft.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.forecast {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.forecast div {
  background-color: rgba(156, 152, 152, 0.3);
  padding: 10px;
  border-radius: 10px;
  width: 150px;
}

.forecast div p {
  word-wrap: break-word;
}

.forecast div > * {
  text-align: center;
  padding: 2px;
}

.weather-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: var(--gradient);
  border-radius: 25px;
  opacity: 0.8;
}

.date-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10px;
  left: 25px;
  gap: 10%;
  width: 100%;
}

.date-container div {
  font-size: 2.5rem;
}

.date-dayname {
  margin: 0;
}

.date-day {
  display: block;
}

.location {
  display: inline-block;
  margin-top: 10px;
}

.location-icon {
  display: inline-block;
  height: 0.8em;
  width: auto;
  margin-right: 5px;
}

.weather-container {
  position: absolute;
  bottom: 25px;
  left: 25px;
}

.weather-temp {
  margin: 0;
  font-weight: 700;
  font-size: 4em;
}

.weather-desc {
  margin: 0;
}

.info-side {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.today-info {
  padding: 15px;
  margin: 0 25px 25px 25px;
  border-radius: 10px;
  border-right: 1px solid rgb(255, 255, 255);
  border-left: 1px solid rgb(255, 255, 255);
}

.today-info > div:not(:last-child) {
  margin: 0 0 10px 0;
}

.today-info > div .title {
  float: left;
  font-weight: 700;
}

.today-info > div .value {
  padding-left: 5px;
}

.week-list {
  list-style-type: none;
  padding: 0;
  margin: 10px 35px;
  -webkit-box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.week-list > li {
  float: left;
  padding: 15px;
  cursor: pointer;
  -webkit-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
  border-radius: 10px;
}

.week-list > li:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background: #fff;
  color: #222831;
  -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
}

.week-list > li.active {
  background: #fff;
  color: #222831;
  border-radius: 10px;
}

.week-list > li .day-name {
  display: block;
  margin: 10px 0 0 0;
  text-align: center;
}

.week-list > li .day-icon {
  display: block;
  height: 30px;
  width: auto;
  margin: 0 auto;
}

.week-list > li .day-temp {
  display: block;
  text-align: center;
  margin: 10px 0 0 0;
  font-weight: 700;
}
